<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>index.jsp</servlet-name>
        <jsp-file>/index.jsp</jsp-file>
    </servlet>
    <servlet>
        <servlet-name>welcome.jsp</servlet-name>
        <jsp-file>/welcome.jsp</jsp-file>
    </servlet>
    <servlet>
        <servlet-name>register.jsp</servlet-name>
        <jsp-file>/register.jsp</jsp-file>
    </servlet>
    <servlet>
        <servlet-name>uploadResult.jsp</servlet-name>
        <jsp-file>/uploadResult.jsp</jsp-file>
    </servlet>
    <servlet>
        <servlet-name>searchResult.jsp</servlet-name>
        <jsp-file>/searchResult.jsp</jsp-file>
    </servlet>
    <servlet>
        <servlet-name>image.jsp</servlet-name>
        <jsp-file>/image.jsp</jsp-file>
    </servlet>
    <servlet>
        <servlet-name>notFound.jsp</servlet-name>
        <jsp-file>/notFound.jsp</jsp-file>
    </servlet>
    <servlet>
        <servlet-name>login.jsp</servlet-name>
        <jsp-file>/login.jsp</jsp-file>
    </servlet>
    <servlet>
        <servlet-name>imageForm.jsp</servlet-name>
        <jsp-file>/imageForm.jsp</jsp-file>
    </servlet>
    <servlet>
        <servlet-name>user.jsp</servlet-name>
        <jsp-file>/user.jsp</jsp-file>
    </servlet>
    <servlet>
        <servlet-name>settingsSaved.jsp</servlet-name>
        <jsp-file>/settingsSaved.jsp</jsp-file>
    </servlet>
    <servlet>
        <servlet-name>checkUsername</servlet-name>
        <servlet-class>com.creatopia.controller.checkUsername</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Register</servlet-name>
        <servlet-class>com.creatopia.controller.Register</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Login</servlet-name>
        <servlet-class>com.creatopia.controller.Login</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetCurrentUser</servlet-name>
        <servlet-class>com.creatopia.dao.GetCurrentUser</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Logout</servlet-name>
        <servlet-class>com.creatopia.controller.Logout</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Upload</servlet-name>
        <servlet-class>com.creatopia.controller.Upload</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ImageRegister</servlet-name>
        <servlet-class>com.creatopia.controller.ImageRegister</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RemoveImage</servlet-name>
        <servlet-class>com.creatopia.controller.RemoveImage</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetAllImagesAsJSON</servlet-name>
        <servlet-class>com.creatopia.dao.GetAllImagesAsJSON</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetImageInformation</servlet-name>
        <servlet-class>com.creatopia.dao.GetImageInformation</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PostComment</servlet-name>
        <servlet-class>com.creatopia.controller.PostComment</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetCommentsAsJSON</servlet-name>
        <servlet-class>com.creatopia.dao.GetCommentsAsJSON</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RedirectUser</servlet-name>
        <servlet-class>com.creatopia.controller.RedirectUser</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ChangeUserSettings</servlet-name>
        <servlet-class>com.creatopia.controller.ChangeUserSettings</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProcessSearch</servlet-name>
        <servlet-class>com.creatopia.controller.ProcessSearch</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetImagesFromSearch</servlet-name>
        <servlet-class>com.creatopia.dao.GetImagesFromSearch</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetSearchedImagesAsJSON</servlet-name>
        <servlet-class>com.creatopia.dao.GetSearchedImagesAsJSON</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>index.jsp</servlet-name>
        <url-pattern>/Home</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>welcome.jsp</servlet-name>
        <url-pattern>/Welcome</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>login.jsp</servlet-name>
        <url-pattern>/Login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>image.jsp</servlet-name>
        <url-pattern>/SingleImage</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>register.jsp</servlet-name>
        <url-pattern>/RegisterUser</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>user.jsp</servlet-name>
        <url-pattern>/SingleUser</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>notFound.jsp</servlet-name>
        <url-pattern>/Error</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>uploadResult.jsp</servlet-name>
        <url-pattern>/UploadResult</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>searchResult.jsp</servlet-name>
        <url-pattern>/SearchResult</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>imageForm.jsp</servlet-name>
        <url-pattern>/imageForm</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>settingsSaved.jsp</servlet-name>
        <url-pattern>/SettingsSaved</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>checkUsername</servlet-name>
        <url-pattern>/checkUsername</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Register</servlet-name>
        <url-pattern>/Register.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Login</servlet-name>
        <url-pattern>/Login.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetCurrentUser</servlet-name>
        <url-pattern>/GetUser.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Logout</servlet-name>
        <url-pattern>/Logout.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Upload</servlet-name>
        <url-pattern>/Upload.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ImageRegister</servlet-name>
        <url-pattern>/ImageRegister.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RemoveImage</servlet-name>
        <url-pattern>/RemoveImage</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetAllImagesAsJSON</servlet-name>
        <url-pattern>/GetAllImagesAsJSON</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetImageInformation</servlet-name>
        <url-pattern>/Image</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PostComment</servlet-name>
        <url-pattern>/PostComment.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetCommentsAsJSON</servlet-name>
        <url-pattern>/GetCommentsAsJSON</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RedirectUser</servlet-name>
        <url-pattern>/User</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ChangeUserSettings</servlet-name>
        <url-pattern>/ChangeUserSettings</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProcessSearch</servlet-name>
        <url-pattern>/Search</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetImagesFromSearch</servlet-name>
        <url-pattern>/ImagesSearch</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetSearchedImagesAsJSON</servlet-name>
        <url-pattern>/GetSearchedImagesAsJSON</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
