html{
    margin: 0;
    padding: 0;
}
body{
    margin: 0;
    padding: 0;
    width: 100%;
    background-color: rgb(244,244,244);
}
a{
    text-decoration: none;
}
/*-----------------------------------------------------------------------------------------
                                         MAIN
-----------------------------------------------------------------------------------------*/
main{
    margin: 100px;
    text-align: center;
}
#msg{
    font-family: 'Cabin', sans-serif;
    color: rgb(222,43,25);
    font-size: 17px;
}
h3 {
    font-family: 'Josefin Sans', sans-serif;
    font-size: 50px;
    margin: 30px 0; 
    color: rgb(100,100,100);
    display: inline-block;
}

form{
    display: inline-block;
    margin: auto;
    text-align: left;
}

form > label{
    margin: 20px 0 5px 5px;
    font-family: 'Cabin', sans-serif;
    color: rgb(100,100,100);
    font-size: 20px;
}

form > input{
    display: block;
    font-size: 20px;
    margin: 5px 0 10px 5px;
}

#submit{
    height: 50px;
    width: 50%;
    background-color: white;
    border: 2px solid rgb(20,80,160);
    color: rgb(20,80,160);
    margin-top: 40px;
}

.gender{
    display: inline-block;
    margin: 20px 5px;
}

span{
    font-family: 'Cabin', sans-serif;
    color: rgb(100,100,100);
    font-size: 20px;	
}